.fixed {
    position: fixed;
    background-color: coral;
}

.images {
    background-color: aqua;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 650px;
    height: 650px;
}

.image1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
}

.image2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 150px;
    width: 150px;
}

.image3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 150px;
    width: 150px;
}

.image4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
}